body {
  background-color:#fafafa;
  font-family:'Open Sans';
}
/* h1 {
	color: white;
	text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 2px;
	font-size: 52px;
	background-color: white;
	box-sizing: content-box;
	width: 340px;
	padding: 0px 20px 7px 20px;
	box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 5px;
	border-radius: 5px;
  margin:150px auto 30px auto;
} */
#my-gallery-container {
	background-color: #ededed;
	margin-top: auto;
}
p {
	text-align: center;
	color: #fff;
}
.item {
	width: 100%;
	/*background-color: #34495E;*/
	min-height: 100px;
	padding: 5px;
	margin: 10px 0px;
	/*box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;*/
	/*border-radius: 8px;*/
  color:#fff;
	
}

.item:hover {
	opacity: 0.8;
}
.item img {
	width: 100%;
	border-radius: 8px;
}
.item.h150{
	width: 100%;
	min-height: 100px;
}

.item.h200{
	width: 100%;
	min-height: 100px;

}

.item.h250{
	width: 100%;
	min-height: 100px;
}
.padding{
	padding: 10px 5px;
}



/* ----------- MY CSS------------- */

.klogo{
	padding: 3px !important;
}
.klogo img{
	max-height: 20px;
}
.my-search-bar{
width: 100%;
height: 50px;
margin-top: 5px;
padding: 0 30px 3px 50px;
font-size: 16px;
color: #111;
background-color: #f1f1f1;
border: 1px solid transparent;
border-radius: 20px;
outline: none;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color: #2D2F3B;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	background: none;
}

.details-block{
	padding: 60px 0;
}
.detail-kulfy{
	width:570px;
	height:400px;
}
.img-block{
margin-top:10px;
}
.detail-img{
	width: 100%;
	height: 100%;
}
.desc-block{
	padding: 15px 60px ;
}
.desc-title{

}
h1.subtitle{
	font-family: lato;
	font-weight: 900;
	font-size: 24px;

}
.tags-block{
	padding: 15px;
}
.tags-list{
	margin-top: 15px;
}
a.tag{
	background-color: #2D2F3B;
	border-radius: 25px;
	color: #fff;
	font-size: 18;
	font-family: lato;
	font-weight: 700;
	padding: 10px 15px;
}
.share-list{
	margin-top: 10px;
}
.share-btn{
	display: block;
	height: 48px;
	width: 48px;
	text-align: center;
	padding: 6px;
	border-radius: 25px;
	float: left;
	margin-left: 15px;
}
#fb{
	background-color: #3F51B5;
}
#wp{
	background-color: #40C351;
}
#tw{
	background-color: #03A9F4;
}
#sh{
	background-color: #448AFF;
}
.share-btn>svg{
	width:32px;
	margin: auto;
}
.detail-title{
	margin-bottom: 30px;
}


/* AUTOCOMPLETE */



/* .autocomplete input{
	width: 100%;
height: 52px;
padding: 0 30px 2px 42px;
font-size: 16px;
color: #111;
background-color: #f1f1f1;
border: 1px solid transparent;
border-radius: 20px;
outline: none;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
} */



input:focus {outline:none;}

.autocomplete ul{
   position: relative; 
   /* right: 0;  */
  width: 100%;
  /* border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888; */
  z-index: 1000;
  padding-left: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 5px;
  /* background-color: blue; */
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #f1f1f1;
}
.autocomplete li:first-child{
	border-top-left-radius: 8px;
  	border-top-right-radius: 8px;
}
.autocomplete li:last-child{
	border-bottom-left-radius: 8px;
  	border-bottom-right-radius: 8px;
}

.autocomplete li.active{
  width: 100%;
  background-color: #ff2200;
  color: #ffffff;
}

.autocomplete .highlight {
   /* background-color: #E2E2E2;  */
   font-weight: 600;
}

.autocomplete li.active .highlight {
  /* background: #666; */
  color: #fff;
  font-weight: 900;
}




.kulfy-tv-container{
	width:550px;
	margin: auto;
	margin-top:15px;
	height:375px;
}

.kulfy-stories{
	width:550px;
	margin-top:15px;
	height:375px;
}

.kulfy-tv-column{
	margin-top: -420px;
}

.multiselect {
    display:block;
}
.multiselect .btn {
    width: 100%;
    margin-top: 10px;
    background-color: #f1f1f1;
}
.multiselect .btn.error{
    border: 1px solid #da4f49 !important;
}
.multiselect .dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}
.multiselect .dropdown-menu {
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
}
.multiselect .dropdown-menu > li > a {
    padding: 3px 10px;
    cursor:pointer;
}



.dropdown-menu {
    position: absolute;
}

.dropdown {
    position: relative;
}

.kulfy-filters{
    margin-left: 20px;
}

.results-count{
    margin-left: 20px;	
}